/* Common Styles */
section {
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* === SECTION 1 === */
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 .text-1,
.text-1-2 {
    margin: 10px 0;
}

.head-1 h1 {
    font-size: 50px;
}

.text-1-2 p {
    font-size: 45px;
}

.link-1 ul {
    display: flex;
    gap: 30px;
}

.link-1 ul li {
    list-style: none;
}

.link-1 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

/* === SECTION 2 === */
.container-3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.head-2 {
    font-size: 45px;
    margin-top: 50px;
}

.text-2 {
    font-size: 30px;
    margin-top: 20px;
}

.text-2-1 {
    font-size: 15px;
    opacity: 0.5;
}

.link-2 ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}

.link-2 ul li {
    list-style: none;
}

.link-2 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

/* === SECTION 3 === */
.container-4 {
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px 20px;
}

.head-3 {
    font-size: 45px;
    margin-top: 50px;
}

.text-3 {
    font-size: 30px;
    margin-top: 10px;
}

.text-3-1 {
    font-size: 15px;
    opacity: 0.5;
}

.link-3 ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.link-3 ul li {
    list-style: none;
}

.link-3 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

/* === SECTION 4 === */
.container-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.container-5-1,
.container-5-2 {
    width: 45%;
    text-align: center;
}

.container-5-1 .icon-4,
.container-5-2 .icon-5 {
    margin-top: 30px;
}

.container-5-1 .text-4 p,
.container-5-2 .text-4 p {
    font-size: 20px;
}

.link-4 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-4 ul li {
    list-style: none;
}

.link-4 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

.container-5-1 .image-4 img,
.container-5-2 .image-5 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* === SECTION 5 === */
.container-6 {
    display: flex;
    /* flex-wrap: wrap; */
}

/* .container-6-1{
    background-image: url('images/home/apple-tv-background.jpg');
} */
.container-6-1,
.container-6-2 {
    width: 50%;
    padding: 20px;
}

.container-6-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.container-6-1 .text {
    margin-top: 180px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.container-6-1 h1,
.container-6-1 .text-bottom p {
    text-align: center;
    text-transform: uppercase;
}

.container-6-2 {
    background-color: black;
    color: white;
    text-align: center;
}

.container-6-2 h1 {
    font-size: 35px;
    margin: 30px 0 10px;
}

.container-6-2 .text {
    margin: 10px;
}

.link-5 ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.link-5 ul li {
    list-style: none;
}

.link-5 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

.image-6 img {
    width: 100%;
    height: auto;
}

/* === SECTION 6 === */
.container-7 {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    color: black;
}

.container-7-1,
.container-7-2 {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.container-7-1 h1,
.container-7-2 h1 {
    font-size: 45px;
}

.container-7-1 .text-2,
.container-7-2 .text-2 {
    font-size: 18px;
    margin-top: 10px;
}

.link-6 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.link-6 ul li {
    list-style: none;
}

.link-6 ul li a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

.image-7,
.image-7-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-7 img,
.image-7-1 img {
    max-width: 100%;
    height: auto;
}

/* this is footer css */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

footer .text {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #333;
}

footer .text p {
    line-height: 1.6;
    font-size: 14px;
    text-align: justify;
}

footer .text a {
    color: #0071e3;
    text-decoration: underline;
}

footer .text a:hover {
    text-decoration: none;
}

.col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}

.column-1,
.column-2,
.column-3 {
    flex: 1;
    /* min-width: 200px; */
    margin-right: 20px;
}

.column-1 ul,
.column-2 ul,
.column-3 ul {
    list-style: none;
    padding: 0;
}

.column-1 li,
.column-2 li,
.column-3 li {
    margin-bottom: 8px;
}

.column-1 a,
.column-2 a,
.column-3 a {
    text-decoration: none;
    color: #0071e3;
}

.bottom-content,
.Copyright,
.image-logo {
    margin-top: 20px;
    text-align: center;
}

.image-logo img {
    width: 20px;
    vertical-align: middle;
}
