*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
  }
  
.main-container{
     margin: 50px 50px;
  }
.main-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }
  ul li {
    list-style: none;
    width: 20%;
    height: auto;
    background-color: burlywood;
    text-align: center;

    border-radius: 5px;
  }
  ul li a {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: serif;
  
  }